#admin-portal {
  margin: 2%;
}

h1 {
  background-color: white;
  color: black;
}

.table-header {
  background-color: #990000;
  font-size: 20px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

.MuiDataGrid-columnHeaderTitle {
  /* overflow: : "visible";
  whiteSpace: "break-spaces";
  lineHeight: 1; */
  font-size: "0.5rem";
}