.progress-report-template {
    margin: 2%;
}

.dropbtn {
    background-color: #FFCC00;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
.dropbtn:hover, .dropbtn:focus {
  background-color: #efc106;
}
  
  .dropdown {
    /* position: relative;
    display: inline-block; */
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
  }
  
  .dropdown-content {
    display: none;
    background-color: white;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1em;
  }  

  .container {
    width: 100%;
    clear: both;
  }
  
.container input {
  width: 100%;
  clear: both;
}

label, input {
  display: block;
}

label {
  margin-top: 0.5em;
}