.progress-report-template {
    margin: 2%;
}

.dropbtn {
    background-color: #FFCC00;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 95%;
    text-align: left;
    border: 2px solid #990000;
    border-radius: 5px;
    font-weight: bold;
  }
  
.dropbtn:hover {
  cursor: pointer;
  background-color: #efc106;
}
  
  .dropdown {
    width: 95%;
    margin: 0 auto;
    padding: 0 0;
    float: right;
  }
  
  .dropdown-content {
    display: none;
    background-color: white;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1em;
  }  

.form-input-container {
  width: 100%;
  clear: both;
}
/*   
.container input {
  width: 800%;
  clear: both;
} */

.question-label {
  float: left;
  width: 20%;
}

.question-input {
  display: block;
  width: 80%;
}

.choice-input {
  display: block;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 2em;
}

#save-button {
  float: right;
  width: 5em;
}

.radio-inline {
  margin-right: 2em;
}

.radio-inline input {
  margin-right: 0.5em;
}

.list-container {
  display: flex;
  font-size: 18px;
  background-color: white;
  flex-direction: column;
}

.template-container {
  display: flex;
  font-size: 18px;
  background-color: white;
  flex-direction: column;
  border: 1px solid black;;
}



.item-container {
  padding: 0;
  float: left;
  margin: 15px 50px;
  background-color: transparent;
  position: relative;
}

#hamburger-icon {
  width: 4%;
  position: absolute;
  top: 10px;
}

#publish-button {
  width: 10%;
  margin-top: 1em;
  float:right;
  text-align: center;
  display: block;
  padding: 0.75em;
  border-radius: 5px;
}

#plus-icon {
  width: 10px;
  text-align: center;
  display: inline;
}


#add-question-button {
  margin: 15px 50px;
  padding: 0.5em;
  width: fit-content;
  border-radius: 5px;
}

.clearfloat {
  clear: both;
}

.question-button {
  display: inline;
}

#delete-button {
  width: 5%;
  height: 100%;
  padding: 16px;
  background-color: transparent;
  border: none;
}

#delete-icon {
  width: 100%;
  border: none;
}