.progress-report-template {
    margin: 2%;
}

.dropbtn {
    background-color: #FFCC00;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: 2px solid #990000;
    border-radius: 5px;
    font-weight: bold;
  }
  
.dropbtn:hover {
  cursor: pointer;
  background-color: #efc106;
}
  
  .dropdown {
    /* position: relative;
    display: inline-block; */
    width: 95%;
    margin: 0 auto;
    padding: 0 0;
    float: right;
  }
  
  .dropdown-content {
    display: none;
    background-color: white;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1em;
  }  

.form-input-container {
  width: 100%;
  clear: both;
}
/*   
.container input {
  width: 800%;
  clear: both;
} */

.question-label {
  float: left;
  width: 20%;
}

.question-input {
  display: block;
  width: 80%;
}

#save-button {
  float: right;
  width: 5em;
}

.radio-inline {
  margin-right: 2em;
}

.radio-inline input {
  margin-right: 0.5em;
}

.list-container {
  display: flex;
  font-size: 18px;
  background-color: white;
  flex-direction: column;
}
.item-container {
  padding: 0;
  float: left;
  margin: 15px 50px;
  background-color: transparent;
  position: relative;
}

.hamburger {
  width: 4%;
  position: absolute;
  top: 10px;
}

#publish {
  width: 20%;
  margin: auto;
  text-align: center;
  display: block;
}