.submit-report-form .question-title {
  font-weight: bold;
}

.submit-report-form .question-description {
  font-style: italic;
}

.form-label .required:after {
  content:" *";
  color: red;
}

h1 {
  background-color: #990000;
  color: white;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.submit-report-header {
  padding-bottom: 15px;
}

.submit-report-form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#session-date {
  width: 25%;
}

#report-title {
  width: 50%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #990000 !important;
}

@media (max-width: 991.98px) {
  #session-date {
    width: 50%;
  }
  
  #report-title {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  #session-date {
    width: 50%;
  }
  
  #report-title {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  #session-date {
    width: 100%;
  }
  
  #report-title {
    width: 100%;
  }
}